In [31]:
import pandas as pd
import json
import numpy as np

In [4]:
df1 = pd.read_csv('twitter-archive-enhanced.csv')

In [6]:
df2 = pd.read_csv('image-predictions.tsv', sep='\t')

In [9]:
tweets = []

with open('tweet-json.txt', 'r') as file:
    for line in file:
        data = json.loads(line)
        tweets.append(data)
df3 = pd.DataFrame(tweets, columns = ['id', 'reweet_count', 'favorite_count'])

In [21]:
df6 = pd.read_json('tweet-json.txt', lines=True)

In [24]:
df6 = df6[['id', 'retweet_count', 'favorite_count']]

In [25]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              2354 non-null   int64
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
dtypes: int64(3)
memory usage: 55.3 KB

In [11]:
url = 'https:/a/d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
df4 = pd.read_csv(url, sep='\t')

In [14]:
import requests

response = requests.get(url)

In [15]:
print(response)

<Response [200]>

In [17]:
with open('images.tsv', 'wb') as file:
    file.write(response.content)

In [18]:
df5 = pd.read_csv('images.tsv', sep='\t')

In [19]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [26]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [28]:
df1[['doggo', 'floofer', 'pupper', 'puppo']].value_counts()

doggo  floofer  pupper  puppo
None   None     None    None     1976
                pupper  None      245
doggo  None     None    None       83
None   None     None    puppo      29
doggo  None     pupper  None       12
None   floofer  None    None        9
doggo  None     None    puppo       1
       floofer  None    None        1
dtype: int64

In [29]:
def drop_row_col(dframe, row_col, axis=0):
    dframe.drop(row_col, axis=axis, inplace=True)

In [32]:
#create a list for the dog stages
dog_stages = ['doggo', 'floofer', 'pupper', 'puppo']

#create the column in twitter archive and replace none with nan
df1[dog_stages] = df1[dog_stages].replace('None', np.nan)
#twitter_archive_clean[['doggo', 'floofer', 'pupper', 'puppo']]

def join_all(x):
    return ', '.join(x.dropna().astype(str))

     [[, 'floofer', , 'puppo']] ['','floofer','', 'puppo'] = [' ,floofer, ,puppo']

df1['dog_stages'] = df1[dog_stages].apply(join_all, axis=1)

#replace empty string with nan
df1['dog_stages'] = df1['dog_stages'].replace('', np.nan)

#drop the four column: doggo, floofer, pupper, puppo
drop_row_col(df1, dog_stages, axis=1)

In [ ]:
df[['column','column']].dropna() NaN

In [33]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  dog_stages                  380 non-null    object
dtypes: float64(4), int64(3), object(7)
memory usage: 257.8+ KB

In [35]:
df1.dog_stages.value_counts()

pupper            245
doggo              83
puppo              29
doggo, pupper      12
floofer             9
doggo, puppo        1
doggo, floofer      1
Name: dog_stages, dtype: int64

In [36]:
combined = pd.merge(df1, df2, on='tweet_id',  how='left')

In [37]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 0 to 2355
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  dog_stages                  380 non-null    object
 14  jpg_url                     2075 non-null   object
 15  img_num                     2075 non-null   float64
 16  p1                          2075 non-null   object
 17  p1_conf                     2075 non-null   float64
 18  p1_dog                      2075 non-null   object
 19  p2                          2075 non-null   object
 20  p2_conf                     2075 non-null   float64
 21  p2_dog                      2075 non-null   object
 22  p3                          2075 non-null   object
 23  p3_conf                     2075 non-null   float64
 24  p3_dog                      2075 non-null   object
dtypes: float64(8), int64(3), object(14)
memory usage: 478.6+ KB

In [41]:
reply = combined[pd.notnull(combined['in_reply_to_status_id'])].index

In [44]:
combined.drop(reply, axis=0, inplace=True)

In [45]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2278 entries, 0 to 2355
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2278 non-null   int64
 1   in_reply_to_status_id       0 non-null      float64
 2   in_reply_to_user_id         0 non-null      float64
 3   timestamp                   2278 non-null   object
 4   source                      2278 non-null   object
 5   text                        2278 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2274 non-null   object
 10  rating_numerator            2278 non-null   int64
 11  rating_denominator          2278 non-null   int64
 12  name                        2278 non-null   object
 13  dog_stages                  372 non-null    object
 14  jpg_url                     2052 non-null   object
 15  img_num                     2052 non-null   float64
 16  p1                          2052 non-null   object
 17  p1_conf                     2052 non-null   float64
 18  p1_dog                      2052 non-null   object
 19  p2                          2052 non-null   object
 20  p2_conf                     2052 non-null   float64
 21  p2_dog                      2052 non-null   object
 22  p3                          2052 non-null   object
 23  p3_conf                     2052 non-null   float64
 24  p3_dog                      2052 non-null   object
dtypes: float64(8), int64(3), object(14)
memory usage: 462.7+ KB

In [ ]:
fully_combned = pd.merge(combined, images, left_on='tweet_id', right_on='id', how='inner' )